main {
    padding: 1em;
}

.go-right {
    width: fit-content;
    margin: 0 0 0 auto;
}

.del-button {
    position: absolute;
    top: 0;
    right: 0;
}

.del-button-container {
    position: relative;
    padding-right: 1em;
}

.wide-list-group {
    width: 100%;
}

.list-group-item-thumb {
    margin: 0 0.5em;
}

.list-group-item-title {
    margin: 0.5em;
}