{% extends "base.html" %}

{% block title %}
Add movies
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}

    <div class="container-fluid mt-2">
        <form class="d-flex m-1" action='' method='GET'>
        <input
        class="form-control me-2"
        type="search"
        placeholder="Search IMDb"
        aria-label="Search"
        name="title">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% if movies %}
        <form action='{{ url_for(".add_movie") }}' method='POST'>
            <div class="d-flex flex-column m-1">
                <div class="d-flex">
                    <ul class="list-group wide-list-group">
                        {% for movie in movies %}
                            <li class="list-group-item p-1">
                                <label>
                                    <div class="d-flex align-items-center p-0">
                                        <input
                                        class="form-check-input me-1"
                                        type="checkbox"
                                        name="checkmovies"
                                        value="{{ movie['title'] }};{{ movie['year'] }};{{ movie.movieID }};{{ movie['cover url'] }}"
                                        aria-label="...">
                                        <img class="list-group-item-thumb" src='{{ movie["cover url"] }}'>
                                        <p class="list-group-item-title">{{ movie.title }} ({{ movie.year }})</p>
                                    </div>
                                </label>
                            </li>
                        {% endfor%}
                    </ul>
                </div>
                <input class="btn btn-primary mt-1" type="submit" value="Add"/>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}