{% extends "base.html" %}

{% block title %}
Movies List
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}
<h1>All movies:</h1>

<div class="d-flex flex-column">
    <div class="d-flex">
        <ul class="list-group wide-list-group">
            {% for movie,user in movies %}
                <li class="list-group-item p-1">
                    <div class="d-flex align-items-center del-button-container">
                        <img class="list-group-item-thumb" src='{{ movie.cover_url }}'>
                        <p class="list-group-item-title">{{ movie.title }} ({{ movie.year }})</p>
                    </div>
                </li>
            {% endfor%}
        </ul>
    </div>
</div>
{% endblock %}