{% extends "base.html" %}

{% block title %}
Movies List
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block content %}
<h1>All movies:</h1>

<div class="items-container">
    <ul>
        {% for movie,user in movies %}
            <li class="item">
                <img src='{{ movie.cover_url }}'>
                <p class="item-title">{{ movie.title }} ({{ movie.year }})</p>
                <p class="item-user">{{ user.username }}</p>
            </li>
        {% endfor%}
    </ul>
</div>
{% endblock %}