{% extends "base.html" %}

{% block title %}
User page
{% endblock %}

{% block content %}
<h1>Welcome {{user.username}}</h1>
<h2>Your movies:</h2>

<div class="d-flex flex-column">
    <div class="d-flex">
        <ul class="list-group wide-list-group">
            {% for movie in user.movies %}
                <li class="list-group-item p-1">
                    <div class="d-flex align-items-center del-button-container">
                        <img class="list-group-item-thumb" src='{{ movie.cover_url }}'>
                        <p class="list-group-item-title">{{ movie.title }} ({{ movie.year }})</p>
                    </div>
                    <form class="del-button" action="{{ url_for('.del_movie') }}" method="POST">
                        <input type=hidden value="{{ movie.title }}" name="title" />
                        <input type="submit" class="btn btn-close btn-sm" value="" />
                    </form>
                </li>
            {% endfor%}
        </ul>
    </div>
    <a class="btn btn-primary mt-1" href='{{ url_for(".add_movie") }}' role="button">Add a movie</a>
</div>
{% endblock %}